In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import datetime as dt
import csv
from api_keys import api_key

In [4]:
# buildings_csv = pd.read_csv("Buildings.csv")
# ids = buildings_csv["ID"]
buildings = []
# buildings_csv.head()
data_year = []
# ID = response['id']
# name = response['property_name']
# address = response['address']
# zipcode = response['zip_code']
# community = response['community_area']
# prop_type = response['primary_property_type']
# sq_ft = response['gross_floor_area_buildings_sq_ft']
# year_built = response['year_built']
# num_buildings = response['of_buildings']
# elec_kbtu = response['electricity_use_kbtu']
# gas_kbtu = response['natural_gas_use_kbtu']
# site_eui_kbtu_sq_ft = response['site_eui_kbtu_sq_ft']
# source_eui = response["source_eui_kbtu_sq_ft"]
# wn_site_eui = ["weather_normalized_site_eui_kbtu_sq_ft"]
# wn_source_eui = ["weather_normalized_source_eui_kbtu_sq_ft"]
# emissions = ["total_ghg_emissions_metric_tons_co2e"]
# intensity = ["ghg_intensity_kg_co2e_sq_ft"] 
# lat = response['latitude']
# lon = response['longitude']

In [5]:
response = requests.get("https://data.cityofchicago.org/resource/xq83-jr8c").json()
for i in range(len(response)):
#     try:
        data_year = response[i]['data_year']
        print(data_year)
        ID = response[i]['id']
        print(ID)
        name = response[i]['property_name']
        print(name)
        address = response[i]['address']
        print(address)
        zipcode = response[i]['zip_code']
        print(zipcode)
        community = response[i]['community_area']
        print(community)
        prop_type = response[i]['primary_property_type']
        print(prop_type)
        sq_ft = response[i]['gross_floor_area_buildings_sq_ft']
        print(sq_ft)
        year_built = response[i]['year_built']
        print(year_built)
        num_buildings = response[i]['of_buildings']
        print(num_buildings)
        elec_kbtu = response[i]['electricity_use_kbtu']
        print(elec_kbtu)
        gas_kbtu = response[i]['natural_gas_use_kbtu']
        print(gas_kbtu)
        site_eui = response[i]['site_eui_kbtu_sq_ft']
        print(site_eui)
        source_eui = response[i]["source_eui_kbtu_sq_ft"]
        print(source_eui)
        wn_site_eui = response[i]["weather_normalized_site_eui_kbtu_sq_ft"]
        print(wn_site_eui)
        wn_source_eui = response[i]["weather_normalized_source_eui_kbtu_sq_ft"]
        print(wn_source_eui)
        emissions = response[i]["total_ghg_emissions_metric_tons_co2e"]
        print(emissions)
        intensity = response[i]["ghg_intensity_kg_co2e_sq_ft"] 
        print(intensity)
        lat = response[i]['latitude']
        print(lat)
        lon = response[i]['longitude']
        print(lon)
        buildings.append({"Data Year": data_year,"ID": ID, "name": name,"Address":address,"Zip Code":zipcode, \
                          "Lat": lat, "Lon": lon,  "Community Area":community, "Property Type":prop_type, \
                         "Square Feet": sq_ft, "Year Built": year_built, "Num of Buildings": num_buildings, \
                         "Electricity KBTU": elec_kbtu, "Natural Gas KBTU": gas_kbtu, "Site_EUI": site_eui, \
                         "Source EUI": source_eui, "Weather Normalized Site EUI": wn_site_eui, \
                         "Weather Normalized Source EUI": wn_source_eui, "Emissions": emissions, "Intensity": intensity})
#         print(f'{response["name"]} {response["id"]}')
#     except:
#         print(f'city not found')
#         pass

2015
250009
Malcolm X College
1900 West Van Buren Street
60612
NEAR WEST SIDE
College/University
541575
1971
1
25403152
29511031
101.4
204.5
105.5
208.1
6671
12.3
41.876251000000003
-87.674126999999999
2015
250127
Bernard Mitchell Hospital
5815 S. Maryland Av.
60637
HYDE PARK
Hospital (General Medical & Surgical)
430772
1983
1
50618112

KeyError: 'natural_gas_use_kbtu'

In [2]:
# buildings = pd.DataFrame.from_dict(buildings)
building

NameError: name 'building' is not defined

In [7]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [9]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
buildings.to_sql(name='hawaii', con=cnx)
pd.read_sql_table(table_name='hawaii', con=e)

AttributeError: 'list' object has no attribute 'to_sql'

In [22]:
import sqlite3
# Create your connection.
# creating a database and creating a table from the dataframe 
cnx = sqlite3.connect('Project2')
buildings.to_sql(name='hawaii', con=cnx)

ValueError: Table 'hawaii' already exists.

In [21]:

w2 = pd.read_sql_query("SELECT * FROM hawaii" , cnx)
w2.head().T

                                                        0
index                                                   0
Address                        1900 West Van Buren Street
Community Area                             NEAR WEST SIDE
Data Year                                            2015
Electricity KBTU                                 25403152
Emissions                                            6671
ID                                                 250009
Intensity                                            12.3
Lat                                    41.876251000000003
Lon                                   -87.674126999999999
Natural Gas KBTU                                 29511031
Num of Buildings                                        1
Property Type                          College/University
Site_EUI                                            101.4
Source EUI                                          204.5
Square Feet                                        541575
Weather Normalized Site EUI                         105.5
Weather Normalized Source EUI                       208.1
Year Built                                           1971
Zip Code                                            60612
name                                    Malcolm X College